

<p>
  
  El taller de Introducción a Unix y R aplicado a la Bioinformática es realizado
  en colaboración con los organizadores locales del seminario
  <a href="http://entrepares.conricyt.mx/">ENTRE PARES 2018</a> y
  el <a href="http://www.nnb.unam.mx/">Nodo Nacional de Bioinformática NNB-UNAM</a>.
  <br>
  
  <br>
  El NNB-UNAM colabora con <a href="{{site.swc_site}}">Software Carpentry</a>,
  y a través del curso de entrenamiento de Instructores dado por SC, 
  los profesores del NNB-UNAM que participarán en éste taller
  están certificados.
  </p>

 <p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  tiene como objetivo ayudar a los investigadores a realizar su trabajo 
  en menos tiempo y con menos dolor al enseñarles habilidades básicas 
  de informática de investigación. 
  
 </p>

  <p>
  Este taller práctico cubrirá los conceptos y herramientas básicos 
  de Unix y R. 
  Se alentará a los participantes a ayudarse mutuamente y 
  aplicar lo que han aprendido a sus propios problemas de investigación.
</p>

<p align="center">
  <em>
    Para más información sobre lo que enseñamos y por qué,
    por favor mira nuestra publicación
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
