<div class="row">
  <div class="col-md-6">
    <h3>Día 1</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td>  <td>La terminal de Unix</td> </tr>
      <tr> <td>18:00</td>  <td>Break</td> </tr>
      <tr> <td>18:15</td>  <td>R para análisis científicos reproducible, parte 1</td> </tr>
      <tr> <td>20:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Día 2</h3>
    <table class="table table-striped">

      <tr> <td>15:30</td>  <td>continuación ... R para análisis científicos reproducible, parte 1</td> </tr>
      <tr> <td>17:30</td>  <td>Break</td> </tr>
      <tr> <td>17:45</td>  <td>R para análisis científicos reproducible, parte 2 </td> </tr>
      <tr> <td>19:20</td>  <td>Anuncio NNB-TIBs</td> </tr>
      <tr> <td>19:30</td>  <td>Cierre</td> </tr>
    </table>
  </div>
</div>
